In [136]:
import pandas as pd

In [137]:
df = pd.read_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning\Bengali_Banglish_80K_Dataset.csv")
df = df.drop("Bengali", axis=1)
df.head(10)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\PC\AppData\Local\Temp\ipykernel_22052\1408443056.py:1: SyntaxWarning: invalid escape sequence '\M'
  df = pd.read_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning\Bengali_Banglish_80K_Dataset.csv")

  Label                                           Banglish
0  fear  ekhane kaoke kobor diyo na tahole tomader pori...
1  fear  kinto voy kiser theke ami jantamna kinto amar ...
2  fear  kronavairas theke srishto rog covid 19 bishbob...
3  fear  citao tar dike egote sahosh pacche na dudiner ...
4  fear  rani meri tiudrer pretatma etaaj ceshta korlam...
5  fear  nitjopryojniy jinisgulo niye ektu dushcintar k...
6  fear  gotobochrer 31 December ei shohore niumoniyar ...
7  fear  strir phone risiv kore shonen tini bolchen tom...
8  fear  vinno dhoroner sontrasi hamla notun kore udbeg...
9  fear  ami oke khabar khawar koyekbar dekechi o shone...

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80098 entries, 0 to 80097
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Label     80098 non-null  object
 1   Banglish  80094 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [139]:
df.describe()

        Label        Banglish
count   80098           80094
unique      6           79235
top       joy  khub val laglo
freq    17837               4

In [140]:
df["Label"].unique()

array(['fear', 'anger', 'sadness', 'disgust', 'joy', 'surprise'],
      dtype=object)

In [141]:
joy = df[df["Label"] == "joy"]
joy.shape

(17837, 2)

In [142]:
joy = joy.drop(joy.index[:15337])
joy

      Label                                           Banglish
62112   joy  assalamu olaikum,, onarso kompilit kore bekar ...
62113   joy  ar je kibriya bhai  apni ki shahin er sathe jo...
62114   joy  unar songge jogajog korar jon‚Äçj unar mobile na...
62115   joy  osadharon hoyeche, shahin sotti kothai boleche...
62116   joy  dhoirjo ar porishrom manushke onek upre uthte ...
...     ...                                                ...
64607   joy  alhamdulillah 2013 theke rileshon kore 2023 sa...
64608   joy  o porto 6 e ar ami 9 e.dirgho 6 bochor se ekho...
64609   joy  prai 10 bochor por abar ganti shunlam ekta som...
64610   joy  amader somoyer ek abeger nam ei ganti.gan ti s...
64611   joy  shei 11bochor dhore shuntechi ekhno kharap lag...

[2500 rows x 2 columns]

In [143]:
sadness = df[df["Label"] == "sadness"]
sadness.shape

(16310, 2)

In [144]:
sadness = sadness.drop(sadness.index[:13810])
sadness

         Label                                           Banglish
59112  sadness  5ta bochor opekkha achi hoyto ektu kotha bolar...
59113  sadness  take ekhno bolte parini moner kotha kintu jedi...
59114  sadness  mner moddhe ekbar karo jonjo tibro maya jonme ...
59115  sadness  ekojonke khub beshi valobastam. kintu, se amak...
59116  sadness  jani kokhono ferano hobe na ager moto  kore,,,...
...        ...                                                ...
61607  sadness  jake eto valo basi se jodi amake bhul bojhe ta...
61608  sadness  tor songge katanor dingulo khub mone pore, jan...
61609  sadness  bece theke lav ki jibne dukhjo chara ar kichu ...
61610  sadness  got rate kacher lokke bolechilam, koshter gan ...
61611  sadness  ganta jokhon ber hoy tokhonkar dingulo to ar h...

[2500 rows x 2 columns]

In [145]:
anger = df[df["Label"] == "anger"]
anger.shape

(15180, 2)

In [146]:
anger = anger.drop(anger.index[:12680])
anger

       Label                                           Banglish
68436  anger  unnoyon colman rakhte noukay vot hok. sohingos...
68438  anger  sboiracarer din shesh hobe i ekdin. tokhon shu...
68439  anger  tel baji koruk,, sadharon manusher voter odhik...
68449  anger  apnara to bideshe thakben apnader bapera to ne...
68460  anger  jader chele meye bideshe thake tara ki bhabe d...
...      ...                                                ...
79943  anger  apnara maik hatey niye manush ke baje montobbo...
79948  anger  ekjon prtimontrri vasha jodi emon hoy . tar th...
79950  anger  üòÖtui ekta batpar montri, bjaristar sumner moto...
80017  anger  kivabe ekta cheler opor narira mithja seksuyal...
80064  anger  amader somaje emon citro prtita ghore kom besh...

[2500 rows x 2 columns]

In [147]:
fear = df[df["Label"] == "fear"]
fear.shape

(7565, 2)

In [148]:
fear = fear.drop(fear.index[:5065])
fear

      Label                                           Banglish
52354  fear  ami kajer somoy ekti hasi choriye amar anondo ...
52359  fear                ami Islam theke kichuta voy peyechi
52362  fear  hatte hatte ami ar voyngkor ba nirapottahin bo...
52363  fear      eka vromon korar somoyo ami orkkhit bodh kori
52365  fear  ami onuvob kori je ami amar school onnanno mey...
...     ...                                                ...
80020  fear  sobsheshe amio konfiushon e roye gelam.otobe s...
80030  fear  natokti shesh hoyeo jen shesh holo na moner vi...
80049  fear  hoiche vai, ebar bolen doshi ke bujhte parchi ...
80084  fear  ei natokta ekhan theke arekta toiri kora dorka...
80089  fear  mathata jhim mere ache.ofiser investigeshon e ...

[2500 rows x 2 columns]

In [149]:
joy.to_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning/new_data.csv", mode = "a", index = False, header=True)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\PC\AppData\Local\Temp\ipykernel_22052\1776555628.py:1: SyntaxWarning: invalid escape sequence '\M'
  joy.to_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning/new_data.csv", mode = "a", index = False, header=True)

In [150]:
sadness.to_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning/new_data.csv", mode = "a", index = False, header=False)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\PC\AppData\Local\Temp\ipykernel_22052\2411091345.py:1: SyntaxWarning: invalid escape sequence '\M'
  sadness.to_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning/new_data.csv", mode = "a", index = False, header=False)

In [151]:
anger.to_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning/new_data.csv", mode = "a", index = False, header=False)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\PC\AppData\Local\Temp\ipykernel_22052\3967203009.py:1: SyntaxWarning: invalid escape sequence '\M'
  anger.to_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning/new_data.csv", mode = "a", index = False, header=False)

In [152]:
fear.to_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning/new_data.csv", mode = "a", index = False, header=False)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\PC\AppData\Local\Temp\ipykernel_22052\449162381.py:1: SyntaxWarning: invalid escape sequence '\M'
  fear.to_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning/new_data.csv", mode = "a", index = False, header=False)