In [5]:
import pandas as pd
import numpy as np

In [3]:

# Data from the image
data = {
    "Name": ["Rahim", "Karim", "Jamal", "Hasina", "Shabana", "Bashir", "Rafiq", "Salma", "Moinul", "Sadia", "Nadia", "Morshed", "Taslima", "Selina", "Abul", "Nasrin", "Asif", "Mofiz", "Faruk"],
    "Age": [25, 30, 35, np.nan, 40, 29, 33, 22, 55, 36, np.nan, 60, 42, 54, 38, 31, 27, np.nan, 41],
    "Gender": ["Male", "Male", "Male", "Female", "Female", "Male", "Male", "Female", "Male", "Female", "Female", "Male", "Female", "Female", "Male", "Female", "Male", "Male", "Male"],
    "Salary": [50000, 60000, 70000, 80000, np.nan, 1200000, 85000, 90000, 300000, 60000, 70000, 25000, 62000, 54000, 71000, 68000, 71000, 66000, 66000],
    "Department": ["HR", "Finance", "Marketing", "Finance", "HR", "HR", "Finance", "HR", "Finance", "Finance", "HR", "Marketing", "Finance", "HR", "HR", "Finance", "Marketing", "Marketing", "HR"],
    "Date of Birth": ["5/12/1995", "9/23/1985", "12/2/1975", "4/12/1988", "8/14/1990", "3/19/1982", "7/21/1989", "11/5/1992", "6/9/1984", "1/20/1993", "5/12/1995", "8/3/1981", "10/13/1987", "12/24/1976", "4/12/1988", "3/19/1982", "7/21/1989", "8/14/1990", "9/23/1985"],
    "Address": ["Dhaka", "Chittagong", "Sylhet", "78 Khulna Rd", "Barisal", "Rajshahi", "Rajshahi", "Dhaka", "Chittagong", "Comilla", "Chittagong", "Rangpur", "Khulna", "Sylhet", "Khulna", "Rajshahi", "Sylhet", "Dhaka", "Barisal"],
    "Product": ["widgetA", "WidgetB", "widgetA", "WidgetC", "widgetb", "widgetA", "WidgetB", "widgetA", "widgetA", "WidgetB", "WidgetC", "widgetb", "WidgetA", "WidgetC", "WidgetC", "widgetb", "widgetC", "WidgetA", "WidgetA"]
}

# Create DataFrame
df = pd.DataFrame(data)

# Fill missing values with NaN
df = df.replace("", np.nan)

# Save to CSV
df.to_csv("uncleaned_data.csv", index=False)

In [2]:
df = pd.read_csv("C:\Musfique's Folder\Python\FDS\Data Cleaning\unclean_data_.csv")
df

NameError: name 'pd' is not defined